/*
 * Adjustments to make the removal of tabs look better
 */
div.mod-root > div.mod-top > div.workspace-tab-header-container > div.workspace-tab-header-container-inner,
div.workspace-tab-header[data-type="file-explorer"],
div.workspace-tab-header-new-tab,
div.workspace-tab-header-tab-list,
div.view-header-left,
div.view-header-title-parent,
div.view-header-title {
	display: none !important;
}
div.cm-scroller {
	padding-top: 0px !important;
}
/* move the note text up */
div.view-header {
	height: 0px;
	border-bottom: none;
}
/* hide the button that show/hide the sidebars */
div.sidebar-toggle-button.mod-left,
div.sidebar-toggle-button.mod-right {
	display: none !important;
}
/* add some padding to the file list */
div.nav-files-container.node-insert-event {
	padding-top: 11px !important;
}
div.workspace-tab-header-container {
	border-bottom: none !important;
}
/* works in conjuction with the DOM modifications in main.ts to align the div.view-actions correctly */
.workspace-tab-header-container {
	padding-right: 10px !important;
}


/* remove the notifications that popup in the upper right */
div.notice-container {
	display: none !important;
}



/* hide the vertical line next to files in a folder */
.tree-item-children {
	padding-left: 5px;
	border-inline-start: none !important;
}



/* hide the icon that is appended to file names when they are not .md (e.g., pdf) */
div.nav-file-tag {
	display: none;
}



/* remove the reading/source view icon in the header (where the file name is) */
/* note: the caret before the equals means "starts with" */
button.clickable-icon.view-action[aria-label^="Current view:"] {
	display: none;
}



/* remove the stuff that is displayed when no files are open */
div.empty-state-title {
	display: none;
}
div.empty-state-action-list :nth-child(3),
div.empty-state-action-list :nth-child(4) {
	display: none;
}



/* remove the outline that shows up when you hover over callouts (e.g., notes, important, etc.) */
div.cm-embed-block:hover {
	box-shadow: none !important;
}



/* remove the </> that shows up in the gutter when you hover over callouts (e.g., notes, important, etc.) */
div.edit-block-button {
	display: none !important;
}


/* color the valut selector */ 
div.workspace-sidedock-vault-profile {
	background-color: #F3F3F3 !important;
}
/* remove the actions/buttons from the vault selector in the lower left */
div.workspace-drawer-vault-actions {
	display: none !important;
}


/* by convention (and design), markdown inserts a blank line before tables. I find this annoying. This doesn't stop Obsidian from doing
   this, but it makes the line less visible */
.cm-line:has(+ .cm-embed-block.cm-table-widget) br {
  display: none;
}
